doctype html
html(ng-app="TNote")
    head
    title !{title}
    meta(charset="utf-8")
    meta(name="description", content="#{title}")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="author", content="tokune")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    block head
  body
    .left-nav(ng-controller="TitleController")
      ul
        a.add-note(href="#/note/0")
          li(adder="true") +
        - each title in titles
          a(href="#/note/#{title.id}")
            li(draggable="true", data-id="#{title.id}") !{title.title}
    .main.container-fluid
      block body
    .clearfix
    .overlay
      .dialog-box
        .title Trash
        .box
          .dropbox
            span drop hear to delete.
  script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
  script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="http://cdn.staticfile.org/angular.js/1.2.18/angular.min.js")
  script(src="http://cdn.staticfile.org/angular.js/1.2.18/angular-route.js")
  block script
